.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide {
  opacity: 0;
}

.slide.active {
  opacity: 1;
}

.arrows-off {
  opacity: 0;
}
.left-arrow,
.right-arrow {
  position: absolute;
  width: 20px;
  height: 20px;
  z-index: 25;
  top: 50%;
  opacity: 1;
}
.left-arrow {
  left: 20px;
}
.right-arrow {
  right: 0px;
}

.left-arrow-img {
  background-color: gray;
  width: 20px;
  max-height: 20px;
  height: auto;
  cursor: pointer;
  z-index: 26;
  padding: 3px;
  border-radius: 2px;
}
