.details-screen-title {
  font-size: 20px;
}

.backdrop-product {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 120;
  background-color: rgba(255, 250, 250, 0.01);
}

.header-clone-p {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  /* background-color: blueviolet; */
  /* z-index: 200; */
}

.header-row-clone-p {
  position: relative;
  /* z-index: 201; */
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
}
.no-scroll {
  position: fixed;
  margin-top: 0;
  width: 100%;
}

.currency-list-p {
  width: 500px;
  height: fit-content;
  top: 250px;
  margin: 300px 500px;
  padding: 10px;

  background-color: white;
  padding: 10;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 1000;

  display: flex;
  flex-direction: column;

  align-items: center;
}
