.item {
  font-size: 18px;
  position: relative;
  margin-bottom: 103px;
  cursor: pointer;
  user-select: none;
  width: 420px;
  filter: drop-shadow(0px 0px 10px rgba(85, 88, 90, 0.3));
}
.item-image-container {
  position: relative;
}
.item-image {
  width: 350px;
  height: 330px;
  object-fit: cover;
}

.item .title {
  font-weight: 300;
}

.item .price {
  font-weight: bold;
}
.out-lable {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.out-lable p {
  position: absolute;
  left: 25.42%;
  right: 25.71%;
  top: 44.24%;
  bottom: 43.94%;

  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 160%;
  display: flex;
  align-items: center;

  color: #8d8f9a;
}
.out-of-stock .out-lable {
  opacity: 1;
}

.item-cart-icon {
  position: absolute;
  right: 11px;
  bottom: 75px;
  width: 52px;
  height: 52px;
  background-color: var(--greenColor);
  border-radius: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.item-in-cart.item-cart-icon {
  opacity: 1;
}

.add-to-cart-comp {
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}
