.mainImage-container {
  margin-right: 100px;

  user-select: none;
  width: 600px;
  height: 450px;
  /* border: 1px solid red; */
  /* box-shadow: 4px 4px 2px 1px rgba(155, 155, 160, 0.2); */
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}
.product-mainImage {
  width: 600px;
  height: 450px;
  object-fit: cover;
  object-position: 100% 0;
  overflow: hidden;
}
