.backdrop {
  position: fixed;
  top: 74px;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

.cart-modal {
  position: fixed;
  top: 74px;
  right: 240px;
  width: 325px;
  background-color: white;
  padding: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-top: 5px;
  padding: 15px;
}

.overlay-item-titles {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 20px;
}
.overlay-total-containt {
  display: flex;
  justify-content: space-between;
}

.overlay-buttons-div {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.btn {
  flex-basis: 50%;
}
