@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.header-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.links-section {
  flex-basis: 33%;
}
.header-row ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.cat-link {
  display: inline-block;
  padding: 10px;
  font-size: 16px;
  padding-bottom: 20px;
  color: black;
}
.cat-link a {
  text-decoration: none;
  text-transform: uppercase;
}
.cat-link a:hover {
  color: var(--greenColor);
}
.cat-link:hover {
  border-bottom: 2px solid var(--greenColor);
}
.cat-link.acitve-cat {
  border-bottom: 2px solid var(--greenColor);
}
.cat-link.acitve-cat a {
  color: var(--greenColor);
}
.links-section {
  font-size: 16px;
}
.bag-section {
  flex-basis: 33%;
  display: flex;
  justify-content: center;
}
.bag-section img {
  width: 41px;
}
.cart-section {
  flex-basis: 33%;
  align-self: left;
  margin-right: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.currencyAmount {
  font-size: 12px;
  margin-right: 10px;
}
.currency {
  margin-right: 10px;
}
.cart-icon,
.currency,
.currencyAmount {
  cursor: pointer;
}

.cart-icon {
  position: relative;
}
.cart-badge {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: black;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  color: #ffffff;
  right: -12px;
  top: -8px;
  opacity: 0;
}
.cart-badge-visible .cart-badge {
  opacity: 1;
}
